$blueBackground:#000F57;
$blueTopColor: #313268;
$blueBottomColor:#9EAADD;

$yellowBackground:#654D08;
$yellowTopColor: #605C37;
$yellowBottomColor:#B7A582;

$greenBackground:#1B3B1D;
$greenTopColor: #506D4E;
$greenBottomColor:#A1B4A1;

$poolBackground:#1F1F1F;
$poolTopColor: #868A89;
$poolBottomColor:#AEAEAE;

$blackBackground:#5B5454;
$blackTopColor: #7C7170;
$blackBottomColor:#BDB7B5;