@import "score.scss";
@import "question.scss";
@import "winState.scss";
@import "OneOnOne.scss";

.centerVerticalFlex  {
    display: flex;
    align-items:center;
}

.centerHorizontalFlex  {
    display: flex;
    justify-content:center;
}

.logo
{
    position:absolute;
    height:20vh;
    width:20vh;
    top:0;
    left:0;
}