win-score
{
    @extend question;
    
}

win-state
{
    win-score
    {
        .top
        {
            text-align:center;
        }
        .bottom
        {
            min-height:auto;
            padding:1rem 1rem !important;
            font-size: 20vh !important;
        }
    }
}